<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.5.1.js"></script>
    <title>Launch Planning</title>
    <link rel='icon' type='image/x-icon' href='./images/favicon.ico' />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="jquery.datetimepicker.min.css" rel="stylesheet"/>

  </head>
  
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">F&L Launch Planning</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Launch Profiles
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/launchprofile">Create or Edit a Launch Profile</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Launch Plans
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/launchplans">Create or Edit a Launch Plan</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Launch Insights
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/launchinsights">View Ship/Build Plan</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Admin Center</a>
            </li>
          </ul>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
    <h1 style="text-align:center" >Instructions</h1>
   <div class="container-fluid" style="align-self: center;">
     <p style="text-align: center">Welcome to the <b>F&L Launch Planning Tool</b>! This tool is mean't for pre-launch planning activities in order for planners, launch managers, and F&L partners</p>
     <p style="text-align: center">to work effectively in generating different ship and build plans for future launches.</p>
     <p style="text-align: center">1.) Please start by <b>downloading</b> the following templates to get started.</p>
     
     <!-- Example split danger button -->
     <div class="text-center">
     <button type="button" id="launchprofiletemplate" class="btn btn-primary btn-lg" style="align-content: center;">Download Launch Profile Template</button>
     <button type="button" id="launchplantemplate" class="btn btn-secondary btn-lg"style="align-content: center;">Download Launch Plan Template</button>
    </div>
    <br>
    <p style="text-align: center">2.) After filling out your downloaded templates, you can navigate and select create or edit <b>Launch Profile</b> or <b>Launch Plan</b></p>
    <p style="text-align: center">3.) A launch profile must be created before you can associate and upload your simulated launch plan. After your launch plan has been added our tool will generate the backwards scheduled ship and build plan for the given launch scenario.This can be found under the <b>insight tab</b></p>
    </div>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <script type="text/javascript">
      $(document).ready(function (){
        $('#launchprofiletemplate').on('click',function(){
          var data = [{
            'LaunchProfileName': '',
            'LineOfBusiness': '',
            'CodeName': '',
            'ExistingSKUProfile': '',
            'Description':'',
            'POM/POD': '',
            'LaunchDate': '',
            'LaunchType': '',
            'Region(s)': '',
            'AnnouceDate': '',
            'Announced(Y/N)':'',
            'IPQRegion(s)':'',
            'Retail DC Volume':'',
            'Retail DTS Volume':'',
            'MS Store IPQ':'',
            'Special Call Outs':''
              }];
          ReportName = 'LaunchProfile-Template';
          Export_JSON_to_CSV(data, ReportName, true);
        }); 

        $('#launchplantemplate').on('click',function(){
          var data = [{
            'Origin_Location': '',
            'Destination_Country': '',
            'Customer': '',
            'Channel': '',
            'Other': '',
            'Date_Type':'',
            'Target_Date': '',
            'Qty': '',
            'Fulfillment_Scenario': '',
            'Model_Type': '',
            'NodeModeOne': '',
            'NodeModeTwo': '',
            'NodeModeThree': '',
            'NodeModeFour': '',
            'NodeModeFive': '',
            'NodeModeSix': ''
              }];
          ReportName = 'LaunchPlans-Template';
          Export_JSON_to_CSV(data, ReportName, true);
        }); 


        function Export_JSON_to_CSV(JSONString, ReportName, isShowHeader) {
            var arrJsonData = typeof JSONString != 'object' ? JSON.parse(JSONString) : JSONString;
            var CSV = '';
            CSV += ReportName + '\r\n\n';
            if (isShowHeader) {
                var row = "";
                for (var index in arrJsonData[0]) {
                    row += index + ',';
                }
                row = row.slice(0, -1);
                CSV += row + '\r\n';
            }
            for (var i = 0; i < arrJsonData.length; i++) {
                var row = "";
                for (var index in arrJsonData[i]) {
                    row += '"' + arrJsonData[i][index] + '",';
                }
                row.slice(0, row.length - 1);
                CSV += row + '\r\n';
            }
            if (CSV == '') {
                alert("Invalid JsonData");
                return;
            }
            fileName = ReportName.replace(/ /g, "_");
            var uri = 'Data:text/csv;charset=utf-8,' + escape(CSV);
            var link = document.createElement("a");
            link.href = uri;
            link.style = "visibility:hidden";
            link.download = fileName + ".csv";
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
        }




      });

    </script>
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    -->
  </body>
</html>